@model IEnumerable<FoodWeb.Models.InvoiceModel>
@{
    ViewBag.Title = "ViewOrders";

}
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />

<script>
    $(document).on('change', '#ddlOrders', function () {
        var JData = $(this).val().split('&');
        if (JData[0] == 0) {
            $("#divOrderInfo").removeClass("hide");
            $(".status").text("Not updated");
            $(".address").text("");
            $(".address").text("");
            $(".locdet").addClass("hide");
            return false;
        }
        $("#map").removeClass("hide");

        $.ajax({
            url: "@Url.Action("GetLocation", "Order")",
            type: "POST",
            data: { LocationId: JData[0], UserId: JData[1] },
            success: function (data) {
                //var val = JSON.parse(data);
                var lat = data.lat;
                var long = data.lng;

                if (data.Status == "1") {
                    $("#divOrderInfo").removeClass("hide");
                    $(".status").text("Delivered");
                    $(".address").text(data.Address);
                    $(".locdet").text("Customer address");
                }
                else {
                    $("#divOrderInfo").removeClass("hide");
                    $(".status").text("Not yet delivered");
                    $(".address").text(data.Address);
                    $(".locdet").text(data.LocDet);
                }
                L.mapquest.key = 'NPWCj7kXyiEhKRsnPog7rvKZwwe4NyrM';
                var container = L.DomUtil.get('map');
                if (container != null) {
                    container._leaflet_id = null;
                }
                var map = L.mapquest.map('map', {
                    center: [lat, long],
                    layers: L.mapquest.tileLayer('map'),
                    zoom: 18
                });
                 
                L.marker([lat, long], {
                    icon: L.mapquest.icons.marker(),
                    draggable: false
                }).bindPopup('Denver, CO').addTo(map);

                //L.circle([38.8339, -104.8214], { radius: 20000 }).addTo(map);

                var denverLatLngs = [
                    [36.99, -102.05],
                    [37, -109.05],
                    [41, -109.05],
                    [41, -102.05]
                ];

        //L.polygon(denverLatLngs, { color: 'red' }).addTo(map);
            },
            error: function (data) {
                alert(data);
            } 
        });

    });
</script>
 
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Orders
        </h1>

    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">

                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <Lable>Select Order</Lable>

                                <select id="ddlOrders" class="m-b-20 m-r-10">
                                    <option value="0">Select</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.LocationId&@item.FKUserID">@item.ID</option>
                                    }
                                </select>
                                <div id="divOrderInfo" class="hide row">
                                    <div class="col-md-12">
                                        <label class="label">Status : </label><label class="status m-r-10 "></label>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Address :</label><label class="address"></label>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Location Details :</label><label class="locdet"></label>
                                    </div>
                                </div>
                                
                            </div>
                            <div id="map" style="width: 100%; height: 530px;"></div>
                        </div><!-- /.box-body -->

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>