


<div class="text-center">
    <form action="\Payment\ProcessPayment"  method="post">

        <label class="text-info">Your order has been successfully placed</label>
        <br />
        <br />
        <p class="blockquote text-center">
            The details of the transaction are  <br />
            Customer : @ViewBag.Customer <br /> <br />
            Amount : $ @ViewBag.AmountPaid<br /><br />

            
        </p>

        <a class="btn btn-primary" href="/HomePageTest/Index">Continue Shopping</a>
    </form>
</div>

